<div class="form-group">
    <label>Sayfa URL</label>
    <input type="text" class="form-control" name="url"/>
</div>

<div class="form-group">
    <label>Sayfa Başlığı</label>
    <input type="text" class="form-control" name="title"/>
</div>

<div class="form-group">
    <label>Sayfa Açıklaması</label>
    <input type="text" class="form-control" name="description"/>
</div>

<div class="form-group">
    <label>Sayfa Anahtar Kelimeleri</label>
    <input type="text" class="form-control" name="keywords"/>
</div>

<div class="form-group">
    <label>Blog Yazarı</label>
    <input type="text" class="form-control" name="author"/>
</div>

<div class="form-group">
    <label>Blog Adı</label>
    <input type="text" class="form-control" name="blogTitle"/>
</div>

<div class="form-group">
    <label>Blog Görseli</label>
    <input type="text" class="form-control" name="blogImage"/>
</div>

<div class="form-group">
    <label>Blog Metni</label>
    <textarea class="form-control" id="ckeditor" name="blogText"></textarea>
</div>

<div class="form-group">
    <label>Blog Durumu</label><br>
    <input type="checkbox" name="blogStatus"/>
    <input type="checkbox" name="blogGeneralStatus" />
</div>

<a href="/admin/blog" class="btn btn-light">İptal</a>
<button class="btn btn-primary blog-add-button">Ekle</button>
