<div class="footer-top-part ">
    <h3>Yedek Parça & Aksesuar</h3>
    <ul>
        <li><a href="/magaza">Mağazamız yakında açılacaktır.</a></li>
        <!-- <li><a href="">Menzil Arttırıcı Anten</a></li>
        <li><a href="">VR Gözlük</a></li>
        <li><a href="">Özel Drone Çantası</a></li> -->
    </ul>
</div>