<div class="footer-top-part ">
    <h3>Teknik Servis</h3>
    <ul>
        <li><a href="/teknik-servis/inspire">Inspire</a></li>
        <li><a href="/teknik-servis/phantom">Phantom</a></li>
        <li><a href="/teknik-servis/mavic">Mavic</a></li>
        <li><a href="/teknik-servis/spark">Spark</a></li>
    </ul>
</div>