<div class="footer-top-part ">
    <h3>Blog</h3>
    <ul>
        <li><a href="/blog/dronelar-nasil-ucar">Drone'lar Nasıl Uçar?</a></li>
        <li><a href="/blog/drone-nasil-ucurulur">Drone Nasıl Uçurulur?</a></li>
    </ul>
</div>