<script>
    if (window.location.host !== 'localhost:5001') {
        if (location.protocol !== 'https:') {
            location.replace(`https:${location.href.substring(location.protocol.length)}`);
        }
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HKY90DJ47R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HKY90DJ47R');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-196847632-1">
</script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-196847632-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PLF5JRL');</script>
<!-- End Google Tag Manager -->

<!-- TITLE -->
<title><%- title %></title>

<!-- WEBSITE DESCRIPTION -->
<meta name="description" content="<%-description%>">

<!-- WEBSITE KEYWORDS -->
<meta name="keywords" content="<%-keywords%>">

<!-- WEBSITE AUTHOR -->
<meta name="author" content="<%-author%>">

<!-- META TAGS -->
<meta charset="UTF-8">

<!-- RESPONSIVE -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<!-- WEBSITE ICON -->
<link rel="icon" href="/assets/img/logo/favicon.svg" sizes="16x16">

<!-- APPLE TOUCH ICON -->
<link rel="apple-touch-icon" href="/assets/img/logo/favicon.png">

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-4.3.1.min.css">

<!-- FEATHER -->
<link rel="stylesheet" href="/assets/css/feather/feather.css">

<!-- FONTAWESOME -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<!-- SWIPER -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- WEBSITE STYLE -->
<link rel="stylesheet" href="/assets/css/style.css?v=2.4">