<div class="container">
    
    <div class="contact-container">

        <div class="contact-addresses row">
            <div class="left-part col-md-6 col-xs-12">
                <p>Telefon: <a href="tel:+90 (533) 735 7895">+90 (533) 735 7895</a></p>
                <p>Mail: <a href="mailto:iletisim@djidestek.com">iletisim@djidestek.com</a></p>
                <p>Adres: <a href="https://goo.gl/maps/kMgBM9k615peiY687" target="_blank">Caferağa Mah. Nail Bey Sk. No:7/A KADIKÖY/İSTANBUL</a></p>
                <p>Instagram: <a href="https://instagram.com/dji.destek" target="_blank">dji.destek</a></p>
            </div>

            <div class="right-part col-md-6 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.6855110537426!2d29.026090715224377!3d40.98836677930275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab940f446cdf3%3A0xb48f3026d7750a08!2sDji%20Destek%20%7C%20Yetkili%20Teknik%20Servis%20ve%20Sat%C4%B1%C5%9F%20Hizmetleri!5e0!3m2!1str!2str!4v1621890803108!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        
        <div class="send-message">

            <h2>Mesaj Gönderin</h2>
        
            <div class="form-group">
                <label>Ad Soyad</label>
                <input  type="text" class="form-control costomerName" placeholder="Adınızı ve Soyadınızı Giriniz...">
            </div>

            <div class="form-group">
                <label>Numara</label>
                <input type="tel" class="form-control costomerNumber" placeholder="Numaranızı Giriniz...">
            </div>

            <div class="form-group">
                <label>E-Mail</label>
                <input type="mail" class="form-control costomerEmail" placeholder="Mail Adresinizi Giriniz...">
            </div>

            <div class="form-group">
                <label>Mesajınız</label>
                <textarea class="form-control costomerMessage" placeholder="Mesajınızı Giriniz..." rows="5" ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Gönder</button>

        </div>

    </div>

</div>