<!-- SLIDER -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="assets/img/slider/slider1.jpg" alt="drone-tamiri-slider"></div>
      <div class="swiper-slide"><img src="assets/img/slider/slider2.jpg" alt="drone-yedek-parca-ve-aksesuar-slider"></div>
      <div class="swiper-slide"><img src="assets/img/slider/slider3.jpg" alt="yeni-drone-satin-al-2-yil-boyunca-teknik-serviste-yuzde-5-indirim-kazan-slider"></div>
      ...
    </div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

<!-- THREE-CARDS -->
<section class="three-cards">
    <div class="part-3">
        <div class="three-card">
            <a href="teknik-servis"><img src="assets/img/slider/slider3.jpg" alt="yeni-drone-satın-al-2-yil-boyunca-teknik-serviste-yuzde-5-indirim-kap-slider"></a>
        </div>
    </div>

    <div class="part-3">
        <div class="three-card">
            <a href="magaza"><img src="assets/img/slider/slider2.jpg" alt="drone-yedek-parca-ve-aksesuar-slider"></a>
        </div>
    </div>

    <div class="part-3">
        <div class="three-card">
            <a href="blog"><img src="assets/img/slider/slider1.jpg" alt="drone-tamiri-slider"></a>
        </div>
    </div>
</section>