<!-- SLIDER -->
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="/teknik-servis">
                <img src="assets/img/slider/slider1.jpg" alt="dji-yetkili-teknik-servis-ve-satis-hizmetleri" class="desktop">
                <img src="assets/img/slider/slider1.jpg" alt="dji-yetkili-teknik-servis-ve-satis-hizmetleri" class="mobile">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/blog">
                <img src="assets/img/slider/slider2.jpg" alt="dji-yetkili-teknik-servis-ve-satis-hizmetleri" class="desktop">
                <img src="assets/img/slider/slider2.jpg" alt="dji-yetkili-teknik-servis-ve-satis-hizmetleri" class="mobile">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/iletisim">
                <img src="assets/img/slider/slider3.jpg" alt="dji-yetkili-teknik-servis-ve-satis-hizmetleri" class="desktop">
                <img src="assets/img/slider/slider3.jpg" alt="dji-yetkili-teknik-servis-ve-satis-hizmetleri" class="mobile">
            </a>
        </div>
    </div>

    <div class="swiper-scrollbar"></div>
</div>

<!-- THREE-CARDS -->
<section class="page-cards">
    <div class="container">

        <div class="card-cover col-md-6 col-xs-12">
            <a href="/teknik-servis" class="card">
                <div class="texts">
                    <div class="texts-inside">
                        <h2>Teknik Servis</h2>
                        <p>Hemen iletişime geçin, ürününüzü eskisinden daha iyi hale getirelim.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="/assets/img/blog/teknik-servis-islemleri.jpg" alt="teknik-servis-islemleri.jpg">
                </div>
            </a>
        </div>
    
        <div class="card-cover col-md-6 col-xs-12">
            <a href="/magaza" class="card">
                <div class="texts">
                    <div class="texts-inside">
                        <h2>Mağaza</h2>
                        <p>FPV gözlüğü, özel çantalar, yedek batarya ve birçok ürün için mağazamızı ziyaret edin.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="/assets/img/blog/drone-yedek-parca-ve-aksesuar.png" alt="drone-yedek-parca-ve-aksesuar.png">
                </div>
            </a>
        </div>
    
        <div class="card-cover col-md-6 col-xs-12">
            <a href="/blog" class="card">
                <div class="texts">
                    <div class="texts-inside">
                        <h2>Blog</h2>
                        <p>Drone nasıl daha iyi kullanılır? Drone'larınızı nasıl tamir ediyoruz? Blog sayfamızda daima güncel içeriklerimizle sizleri bekliyoruz.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="/assets/img/blog/dronelar-nasil-ucar.jpg" alt="dronelar-nasil-ucar.jpg">
                </div>
            </a>
        </div>

        <div class="card-cover col-md-6 col-xs-12">
            <a href="/iletisim" class="card">
                <div class="texts">
                    <div class="texts-inside">
                        <h2>İletişim</h2>
                        <p>Bizlerle iletişime geçebileceğiniz bütün yollar İletişim sayfamızda.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="/assets/img/images/wall.jpg" alt="iletisim">
                </div>
            </a>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">

        <div class="section-title">
            <h2>Galeri</h2>
        </div>

        <div class="lightGallery gallery-images">
            <a href="/assets/img/images/dji-destek-drone-teknik-servis-ofis.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-destek-drone-teknik-servis-ofis.jpg" alt="dji-destek-drone-teknik-servis-ofis.jpg">
            </a>
        
            <a href="/assets/img/images/dji-mavic-drone-tamir.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-mavic-drone-tamir.jpg" alt="dji-mavic-drone-tamir.jpg">
            </a>

            <a href="/assets/img/images/dji-mavic-drone-tamir-2.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-mavic-drone-tamir-2.jpg" alt="dji-mavic-drone-tamir-2.jpg">
            </a>
            
            <a href="/assets/img/images/dji-phantom.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-phantom.jpg" alt="dji-phantom.jpg">
            </a>

            <a href="/assets/img/images/dji-phantom-drone-tamir.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-phantom-drone-tamir.jpg" alt="dji-phantom-drone-tamir.jpg">
            </a>

            <a href="/assets/img/images/dji-drone-tamir-yedek-parca.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-drone-tamir-yedek-parca.jpg" alt="dji-drone-tamir-yedek-parca.jpg">
            </a>

            <a href="/assets/img/images/dji-yedek-parcalari.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-yedek-parcalari.jpg" alt="dji-yedek-parcalari.jpg">
            </a>

            <a href="/assets/img/images/dji-mavic-kamera-tamir.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-mavic-kamera-tamir.jpg" alt="dji-mavic-kamera-tamir.jpg">
            </a>

            <a href="/assets/img/images/dji-phantom-kamera-tamir.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-phantom-kamera-tamir.jpg" alt="dji-phantom-kamera-tamir.jpg">
            </a>

            <a href="/assets/img/images/dji-mavic-tamir.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-mavic-tamir.jpg" alt="dji-mavic-tamir.jpg">
            </a>

            <a href="/assets/img/images/dji-mavic-tamir-2.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-mavic-tamir-2.jpg" alt="dji-mavic-tamir-2.jpg">
            </a>

            <a href="/assets/img/images/dji-mavic-yakin-cekim-ayrinti.jpg" class="image col-md-3 col-xs-6">
                <img src="/assets/img/images/dji-mavic-yakin-cekim-ayrinti.jpg" alt="dji-mavic-yakin-cekim-ayrinti.jpg">
            </a>
        </div>

    </div>
</section>