<!-- SLIDER -->
<section class="slider">
    <ul class="slider-navbar">

        <li class="slider-before">
            <i class="fas fa-chevron-left"></i>
        </li>

        <li class="slider-item active-item">
            <div class="slider-icon">
                <img src="assets/img/slider/slider1.jpg" alt="">
            </div>

            <div class="slider-image">
                <img src="assets/img/slider/slider1.jpg" alt="">
            </div>
        </li>

        <li class="slider-item">
            <div class="slider-icon">
                <img src="assets/img/slider/slider2.jpg" alt="">
            </div>

            <div class="slider-image">
                <img src="assets/img/slider/slider2.jpg" alt="">
            </div>
        </li>

        <li class="slider-item">
            <div class="slider-icon">
                <img src="assets/img/slider/slider3.jpg" alt="">
            </div>

            <div class="slider-image">
                <img src="assets/img/slider/slider3.jpg" alt="">
            </div>
        </li>

        <li class="slider-after">
            <i class="fas fa-chevron-right"></i>
        </li>

    </ul>
</section>

<!-- THREE-CARDS -->
<section class="three-cards">
    <div class="part-3">
        <div class="three-card">
            <a href="teknik-servis"><img src="assets/img/slider/slider3.jpg" alt=""></a>
        </div>
    </div>

    <div class="part-3">
        <div class="three-card">
            <a href="yedek-parca-ve-aksesuar"><img src="assets/img/slider/slider2.jpg" alt=""></a>
        </div>
    </div>

    <div class="part-3">
        <div class="three-card">
            <a href="yararli-icerikler"><img src="assets/img/slider/slider1.jpg" alt=""></a>
        </div>
    </div>
</section>