<!-- SLIDER -->
<section class="slider">
    <ul class="slider-navbar">

        <li class="slider-before">
            <i class="fas fa-chevron-left"></i>
        </li>

        <li class="slider-item active-item">
            <div class="slider-icon">
                <img src="assets/img/slider/slider1.jpg" alt="drone-tamiri-slider">
            </div>

            <div class="slider-image">
                <img src="assets/img/slider/slider1.jpg" alt="drone-tamiri-slider">
            </div>
        </li>

        <li class="slider-item">
            <div class="slider-icon">
                <img src="assets/img/slider/slider2.jpg" alt="drone-yedek-parca-ve-aksesuar-slider">
            </div>

            <div class="slider-image">
                <img src="assets/img/slider/slider2.jpg" alt="drone-yedek-parca-ve-aksesuar-slider">
            </div>
        </li>

        <li class="slider-item">
            <div class="slider-icon">
                <img src="assets/img/slider/slider3.jpg" alt="yeni-drone-satın-al-2-yil-boyunca-teknik-serviste-yuzde-5-indirim-kap-slider">
            </div>

            <div class="slider-image">
                <img src="assets/img/slider/slider3.jpg" alt="yeni-drone-satın-al-2-yil-boyunca-teknik-serviste-yuzde-5-indirim-kap-slider">
            </div>
        </li>

        <li class="slider-after">
            <i class="fas fa-chevron-right"></i>
        </li>

    </ul>
</section>

<!-- THREE-CARDS -->
<section class="three-cards">
    <div class="part-3">
        <div class="three-card">
            <a href="teknik-servis"><img src="assets/img/slider/slider3.jpg" alt="yeni-drone-satın-al-2-yil-boyunca-teknik-serviste-yuzde-5-indirim-kap-slider"></a>
        </div>
    </div>

    <div class="part-3">
        <div class="three-card">
            <a href="magaza"><img src="assets/img/slider/slider2.jpg" alt="drone-yedek-parca-ve-aksesuar-slider"></a>
        </div>
    </div>

    <div class="part-3">
        <div class="three-card">
            <a href="blog"><img src="assets/img/slider/slider1.jpg" alt="drone-tamiri-slider"></a>
        </div>
    </div>
</section>