<div class="container">
    
    <div class="contact-card">

        <div class="card-header">
            Teknik Servis Bilgileri
        </div>

        <div class="card-body">
            <% if(params.droneSerial && droneSerial) {%>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Drone Serisi</label>
                <input type="text" class="form-control droneSerial" value="<%=droneSerial.name%>" readonly="readonly">
            </div>
            <% } %>

            <% if(params.droneModel && droneModel) {%>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Drone Modeli</label>
                <input type="text" class="form-control droneModel" value="<%=droneModel.name%>" readonly="readonly">
            </div>
            <% } %>

            <% if(params.droneAltModel && droneAltModel) {%>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Drone Alt Modeli</label>
                <input type="text" class="form-control droneAltModel" value="<%=droneAltModel.name%>" readonly="readonly">
            </div>
            <% } %>

            <div class="form-group">
                <label>Problem Başlığı</label>
                <input type="text" class="form-control problemTitle" placeholder="Problem Nedir?">
            </div>

            <div class="form-group">
                <label>Problem Açıklaması</label>
                <textarea class="form-control problemDesc" placeholder="Probleminizi ayrıntılı bir şekilde anlatınız..." rows="5" ></textarea>
            </div>
        </div>

        <div class="card-header">
            İletişim Bilgileriniz
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>Ad Soyad</label>
                <input type="text" class="form-control costomerName" placeholder="Adınızı ve Soyadınızı Giriniz...">
            </div>
            
            <div class="form-group">
                <label>Telefon Numarası</label>
                <input type="tel" class="form-control costomerNumber" placeholder="Telefon Numaranızı Giriniz...">
            </div>
            
            <div class="form-group">
                <label>Email Adresi (İsteğe Bağlı)</label>
                <input type="email" class="form-control costomerEmail" placeholder="Email Adresinizi Giriniz...">
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>

    </div>

</div>
