/* COLORS */
/* rgb(0, 172, 184) */
/* rgb(0, 135, 145) */
/* rgb(0,90,100) */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body {
    margin: 0px !important;
    font-family: 'Ubuntu', sans-serif;
}

body.noscroll {
    overflow: hidden;
}

html {}

* {
    outline: none;
    box-sizing: border-box;
}

a{
    color: rgb(0, 172, 184)
}

a:hover{
    color: rgb(0, 172, 184)
}

/* NAVBAR */

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 0;
    display: block;
    transition: 0.3s all;
}

.navbar .container {
    justify-content: flex-start;
}

.navbar.background {
    background-color: white;
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.2)!important;
}

.navbar-backgrounded .navbar {
    background-color: white;
    box-shadow: 0 2.5px 5px -2px rgba(0, 0, 0, 0.1);
}

.navbar-top {
    border-bottom: 1px solid white;
    padding: 5px 0;
    transition: 0.3s all;
}

.navbar.background .navbar-top,
.navbar-backgrounded .navbar-top {
    border-bottom: 1px solid #f1f1f1;
}

.navbar-top .contact-addresses {
    padding-left: 210px;
}

.navbar-top i {
    color: white;
    width: 20px;
    font-size: 14px;
}

.navbar-top a {
    color: white;
    font-size: 14px;
}

.navbar.background .navbar-top i,
.navbar.background .navbar-top a,
.navbar-backgrounded .navbar-top i,
.navbar-backgrounded .navbar-top a {
    color: #111;
}

.navbar-bottom {
    transition: 0.3s all;
    position: relative;
}

.navbar-brand {
    position: relative;
    padding: 0;
    margin: 0px;
    width: 200px;
}

.navbar-brand img {
    width: 160px;
    transition: 0.3s all;
    float: left;
    /* image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; */
}

.navbar-brand .navbar-logo-white {
    display: block;
}

.navbar-brand .navbar-logo-black {
    display: none;
}

.navbar.background .navbar-brand .navbar-logo-white,
.navbar-backgrounded .navbar-brand .navbar-logo-white {
    display: none;
}

.navbar.background .navbar-brand .navbar-logo-black,
.navbar-backgrounded .navbar-brand .navbar-logo-black {
    display: block;
}

.navbar-menu {
    float: right;
    text-align: left;
}

.navbar-menu-list {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.navbar-menu-item {
    list-style: none;
    float: left;
    display: block;
    margin: 0px 2px;
    position: unset;
    font-size: 0;
    cursor: pointer;
}

.navbar-menu-item.dropable::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f078';
    color: white;
    font-size: 12px;
    display: inline-block;
    transition: 0.3s all;
    cursor: pointer;
    padding: 15px 7.5px;
}

.navbar-menu-item.dropable.hovered::after {
    transform: rotate(180deg);
    padding: 15px 7.5px;
}

.navbar.background .navbar-menu-item.dropable::after,
.navbar-backgrounded .navbar-menu-item.dropable::after {
    color: #111;
}

.navbar-menu-item > a {
    display: inline-block;
    padding: 15px 0px 15px 8px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s all;
    position: relative;
}

.navbar-menu-item.dropable > a {
    pointer-events: none;
}

.navbar-menu-item.dropable.hovered > a {
    pointer-events: initial;
}

.navbar-menu-item.dropable > a::after {
    content: '';
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent white transparent;

    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
}

.navbar-menu-item.hovered > a::after {
    display: block;
}

.navbar.background .navbar-menu-item > a {
    color: #111;
}

.navbar-backgrounded .navbar-menu-item > a {
    color: #111;
}

.navbar-menu-collapser-cover {
    display: none;
}

.navbar-drop-menu {
    display: none;
    position: absolute;

    top: 64px;
    bottom: auto;

    left: 0;
    right: 0;

    margin: auto;

    width: 1100px;
    ;

    background-color: white;

    padding: 0px;
    font-size: 0;
    border-radius: 10px;

    box-shadow: 0 7.5px 15px -5px rgba(0, 0, 0, 0.3);
}

.navbar-drop-menu.show {
    display: block;
}

.navbar-drop-menu-flex {
    display: flex;
    flex-wrap: wrap;
}

.navbar-drop-menu-part {
    width: 25%;
    display: inline-block;
    text-align: center;
    font-size: 0;
    border-right: 1px solid #f1f1f1;
}

.navbar-drop-menu-part:last-child {
    border-right: 0;
}

.navbar-drop-menu-part-image-side {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.navbar-drop-menu-part-models-side {
    width: 60%;
    height: 100%;
    display: inline-block;
    float: right;
    text-align: left;
    padding: 10px;
}

.navbar-drop-menu-part-image-side a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navbar-drop-menu-part-image-side a img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.navbar-drop-menu-part-models-side .title-1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.navbar-drop-menu-part-models-side .title-1 a {
    color: #333;
}

.navbar-drop-menu-part-models-side .title-2-cover {
    margin-bottom: 5px;
}

.navbar-drop-menu-part-models-side .title-2 {
    font-size: 15px;
    margin-bottom: 0px;
}

.navbar-drop-menu-part-models-side .title-2 a {
    color: #444;
}

.navbar-drop-menu-part-models-side .title-3 {
    font-size: 11px;
    margin-bottom: 0px;
    display: inline-block;
}

.navbar-drop-menu-part-models-side .title-3 a {
    color: #999;
}

.navbar-drop-menu-part-models-side .title-3::after {
    content: "-";
    margin: 0px 2.5px;
}

.navbar-drop-menu-part-models-side .title-3:last-child::after {
    content: "";
}

/* NAVBAR CART */

.navbar-cart-collapser-cover{
    margin-left: auto;
    display: none;
}

.navbar-cart-collapser-cover.show{
    display: block;
}

.navbar-cart-collapser-cover button{
    position: relative;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    color: #111;
    outline: none;
}

.navbar-cart-collapser-cover button .cart-count-product{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    padding: 2.5px 5px;
    background-color: rgb(0, 172, 184);
}

.navbar-cart-collapser-cover button .cart-count-product p{
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.navbar-cart{
    display: none;
    position: absolute;
    right: 0;
    top: 64px;

    width: 275px;
    height: 350px;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0;
    transition: 0.5s box-shadow;
}

.navbar-cart.show{
    display: block;
    box-shadow: 0 7.5px 25px -2px rgba(0,0,0,0.1);
}

/* cart-header */

.navbar-cart .cart-header{
    height: 10%;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #d5d5d5;
    background-color: #f4f4f4;
}

.navbar-cart .cart-header h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #333;
}

/* cart-items */

.navbar-cart .cart-items{
    height: 70%;
    overflow-y: auto;
}

.navbar-cart .cart-items::-webkit-scrollbar{
    width: 8px;
}

.navbar-cart .cart-items::-webkit-scrollbar-track {
    background: #fcfcfc;
}

.navbar-cart .cart-items::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px;
    transition: 0.2s all;
}

.navbar-cart .cart-items::-webkit-scrollbar-thumb:hover{
    background: #b6b6b6;
}

/* cart-item */

.navbar-cart .cart-items .cart-null{
    display: none;
    padding: 10px;
    text-align: center;
}

.navbar-cart .cart-items .cart-null.show{
    display: block;
}

.navbar-cart .cart-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}

.navbar-cart .cart-item .cart-item-remove-cover{
    position: absolute;
    top: 50%;
    right: 10px;

    transform: translateY(-50%);
}

.navbar-cart .cart-item .cart-item-remove-cover button{
    background: white;
    padding: 3px 7px;
    border: 1px solid #d5d5d5;
    border-radius: 100%;
    color: #777;
    font-size: 12px;
    outline: none;
}

.navbar-cart .cart-item .cart-item-remove-cover button:hover{
    color: #bf0000;
}

.navbar-cart .cart-item:nth-child(odd){
    background-color: #ffffff;
}

.navbar-cart .cart-item:nth-child(odd):hover{
    background-color: #fcfcfc;
}

.navbar-cart .cart-item:nth-child(even){
    background-color: #fafafa;
}

.navbar-cart .cart-item:nth-child(even):hover{
    background-color: #f7f7f7;
}

.navbar-cart .cart-item .cart-item-image{
    width: 30%;
    border: 1px solid #d5d5d5;
}

.navbar-cart .cart-item .cart-item-image img{
    width: 100%;
}

.navbar-cart .cart-item .cart-item-details{
    width: 70%;
    padding-left: 10px;
}

.navbar-cart .cart-item .cart-item-title h4{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.2;
    color: #333;
}

.navbar-cart .cart-item .cart-item-title h4:hover{
    text-decoration: underline;
}

.navbar-cart .cart-item .cart-item-price p{
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.navbar-cart .cart-item .cart-item-price .sign{
    font-size: 13px;
}

.navbar-cart .cart-item .cart-item-old-price p{
    font-size: 12px;
    color: #a5a5a5;
    text-decoration: line-through;
    line-height: 1;
}

.navbar-cart .cart-item .cart-item-old-price p .sign{
    font-size: 11px;
}

.navbar-cart .cart-item .cart-item-current-price p{
    color: rgb(0, 172, 184);
    line-height: 1.1;
}

/* cart-footer */

.navbar-cart .cart-footer{
    height: 20%;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-top: 1px solid #d5d5d5;
    display: flex;
    flex-wrap: wrap;
}

.navbar-cart .cart-footer .cart-total-price{
    height: 35%;
    width: 100%;
}

.navbar-cart .cart-footer .cart-total-price p{
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
    line-height: 1.2;
}

.navbar-cart .cart-footer .cart-total-price p .price{
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 172, 184);
}

.navbar-cart .cart-footer .cart-total-price p .sign{
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 172, 184);
    /* color: rgb(0, 135, 145); */
}

.navbar-cart .cart-footer .cart-parge-button-cover{
    height: 65%;
    width: 100%;
}

.navbar-cart .cart-footer .cart-parge-button-cover button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    border: 1px solid #999;
    transition: 0.2s all;
    outline: none;
}

.navbar-cart .cart-footer .cart-parge-button-cover button:hover{
    background: rgb(0, 135, 145);
    border-color: rgb(0, 135, 145);
    color: white;
}


@media (max-width: 1200px) {
    .navbar-drop-menu {
        width: 700px;
    }

    .navbar-drop-menu-part {
        width: 50%;
    }

    .navbar-drop-menu-part:nth-child(2),
    .navbar-drop-menu-part:nth-child(4) {
        border-right: 0;
    }

    .navbar-drop-menu-part:nth-child(1),
    .navbar-drop-menu-part:nth-child(2) {
        border-bottom: 1px solid #f1f1f1;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .navbar.collapsed .navbar-top{
        border-bottom: 1px solid #f1f1f1;
        background: white;
    }

    .navbar.collapsed .navbar-top .contact-addresses i,
    .navbar.collapsed .navbar-top .contact-addresses a {
        color: #111;
    }

    .navbar.collapsed .navbar-bottom{
        background: white;
        box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.1)!important;
    }

    .navbar.collapsed .navbar-bottom .navbar-brand .navbar-logo-white {
        display: none;
    }

    .navbar.collapsed .navbar-bottom .navbar-brand .navbar-logo-black {
        display: block;
    }

    .navbar.collapsed .navbar-bottom .navbar-menu-collapser-cover button {
        color: #111;
    }

    .navbar .container {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    .navbar-top {
        padding: 2.5px 0;
    }

    .navbar-top .contact-addresses {
        padding-left: 5px;
    }

    .navbar-brand img{
        /* width: 160px; */
    }

    .navbar-bottom {
        padding-bottom: 1px;
    }

    .navbar-brand {
        z-index: 1;
        margin: 5px;
        width: fit-content;
        margin-right: auto;
    }

    .navbar-menu-collapser-cover {
        display: block;
        z-index: 1;
        margin-left: 10px;
    }

    .navbar-menu-collapser-cover button {
        color: white;
        background-color: transparent;
        border: 0;
        font-size: 22px;
        outline: none;
    }

    .navbar.background .navbar-menu-collapser-cover button,
    .navbar-backgrounded .navbar-menu-collapser-cover button {
        color: #111;
    }

    .navbar-menu {
        background-color: white;
        margin-top: 70px;
        padding-left: 0;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        transform: translateX(100%);
        transition: 0.3s all;
        overflow: auto;
        z-index: -1;
    }

    .navbar-menu-list{
        
    }

    .navbar-menu.show {
        transform: translateX(0%);
    }

    .navbar-menu-item {
        float: inherit;
        border-top: 1px solid #f1f1f1;
        margin: 0;
        position: relative;
    }

    .navbar-menu-item.dropable::after {
        color: #111;
        position: absolute;
        right: 25px;
        top: 12.5px;
    }

    .navbar-menu-item:last-child {
        border-bottom: 1px solid #f1f1f1;
    }

    .navbar-menu-item > a {
        color: #333;
        padding: 10px 25px !important;
        width: 100%;
    }

    .navbar-menu-item.dropable > a {
        width: 50%;
        pointer-events: none;
    }

    .navbar-menu-item.dropable.hovered > a {
        pointer-events: initial;
    }

    .navbar-menu-item.dropable > a::after {
        display: none;
    }

    .navbar-drop-menu {
        position: relative;
        width: 100%;
        top: auto;
        box-shadow: none;
    }

    .navbar-drop-menu-part {
        width: 100%;
        border-top: 1px solid #f1f1f1;
        border-right: 0 !important;
        border-bottom: 0 !important;
    }

    .navbar-drop-menu-part-image-side a img {
        position: relative;
    }

}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #272727;
    /*padding: 0 100px;*/
}

/* footer-top */

.footer-top {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.footer-top-seo-text{
    color: #999;
    margin-bottom: 20px;
}

.footer-top-seo-text h1{
    font-size: 24px;
    margin-bottom: 5px;
}

.footer-top-seo-text h2{
    font-size: 20px;
    margin-bottom: 2.5px;
}

.footer-top-seo-text h3{
    font-size: 16px;
    margin-bottom: 1.25px;
}

.footer-top-seo-text h4,
.footer-top-seo-text h5,
.footer-top-seo-text h6{
    font-size: 12px;
    margin-bottom: 0.625px;
}

.footer-top-seo-text p{
    font-size: 12px;
}

.footer-top-seo-text a{
    color: #d5d5d5;
}

.footer-top-seo-text ul{
    padding-left: 25px;
}

.footer-top-seo-text li{
    font-size: 12px;
}

.footer-top-seo-text .constantSeoText{
    margin-bottom: 15px;
}

.footer-top-seo-text .slideSeoText{
    cursor: pointer;
}

.footer-top-seo-text .constantSeoText p{
    display: inline;
}

.footer-top-menus {
    display: flex;
    flex-wrap: wrap;
}

.footer-top-part {
    text-align: left;
    width: 25%;
    display: inline-block;
}

.footer-top-part h3 {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: white;
}

.footer-top-part ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-top-part li {
    padding: 0;
    margin: 0;
}

.footer-top-part li a {
    font-size: 12px;
    color: #999;
}

.footer-top-part li span {
    font-size: 12px;
    color: #999;
}

.footer-top-part li i {
    font-size: 12px;
    color: #999;
    width: 20px;
    display: inline-block;
}

.footer-top-bottom {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footer-top-bottom .footer-logo {
    display: inline-block;
}

.footer-top-bottom .footer-logo img{
    width: 160px;
    /* image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; */
}

.footer-top-bottom-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.footer-top-bottom-list li {
    float: left;
}

.footer-top-bottom-list li a {
    padding: 5px 15px;
    font-size: 12px;
    color: #999;
}

.footer-top-bottom-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    float: right;
    margin-left: auto;
}

.footer-top-bottom-social li {
    float: left;
    margin: 0 5px;
}

.footer-top-bottom-social li a {
    padding: 5px;
    font-size: 16px;
    color: #999;
}

/* footer-bottom */

.footer-bottom {
    padding: 10px 0;
    position: relative;
}

.footer-bottom .copyright-text {
    display: inline-block;
}

.footer-bottom .copyright-text p {
    margin: 0;
    color: #999;
    font-size: 12px;
}

.footer-bottom .developer-logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-bottom .developer-logo a{
    display: block;
}

.footer-bottom .developer-logo img {
    width: 30px;
    height: auto;
}

@media (max-width:768px) {
    .footer {
        padding: 0;
    }

    .footer-top-seo-text{
        padding: 0 10px;
    }

    .footer-top {
        padding-top: 25px;
    }

    .footer-top-part {
        width: 50%;
        padding: 10px;
    }

    .footer-top-bottom .footer-logo {
        width: 100%;
        text-align: center;
    }

    .footer-top-bottom-list {
        margin-left: 0;
        margin: auto;
    }

    .footer-top-bottom-list li a {
        padding: 5px;
    }

    .footer-top-bottom-social {
        width: 100%;
        text-align: center;
    }

    .footer-top-bottom-social li{
        float: initial;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-bottom .copyright-text {
        width: 100%;
        text-align: center;
    }

    .footer-bottom .developer-logo {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0);
        margin-top: 5px;
    }
}

/* INDEX PAGE */

/* SLIDER */

.swiper-container{
    max-height: 100vh;
}

.swiper-slide img{
    min-height: 100vh;
    max-width: 100vw;
    object-fit: cover;
    object-position: center;
}

.swiper-slide img.desktop{
    display: block;
}

.swiper-slide img.mobile{
    display: none;
}

@media(max-width: 768px){
    .swiper-slide img.desktop{
        display: none;
    }
    
    .swiper-slide img.mobile{
        display: block;
    }
}

/* SECTION */

section{
    padding: 10px;
}

section .section-title{
    text-align: center;
    margin-top: 25px;
}

/* THREE-CARDS */

.page-cards {
    width: 100%;
    font-size: 0;
}

.page-cards .container{
    padding-left: 5px;
    padding-right: 5px;
}

.page-cards .card-cover {
    padding: 10px;
    display: inline-block;
}

.page-cards .card-cover.col-md-6 {
    width: 50%;
    height: 400px;
}

.page-cards .card-cover.col-md-4 {
    width: 33.33%;
    height: 300px;
}

.page-cards .card-cover.col-md-3 {
    width: 25%;
    height: 275px;
}

.page-cards .card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    display: block;
}

.page-cards .card:hover .texts{
    background-color: rgba(0,0,0,0.75);
}

.page-cards .card .texts{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    transition: 0.2s all;
}

.page-cards .card .texts-inside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 10px;
}

.page-cards .card .texts-inside h2{
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 500;
}

.page-cards .card .texts-inside p{
    font-size: 14px;
    color: rgba(256,256,256,0.95);
    text-align: center;
    font-weight: 600;
}

.page-cards .card .image{
    height: 100%;
    width: 100%;
}

.page-cards .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .page-cards .card-cover.col-xs-12 {
        width: 100%;
        height: 275px;
    }

    .page-cards .card-cover.col-xs-6 {
        width: 50%;
        height: 225px;
        padding: 5px;
    }

    .page-cards .card-cover.col-xs-6 .card .texts-inside{
        padding: 5px;
    }
}

/* GALLERY */

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
    border-color: rgb(0, 172, 184);
}

.gallery .container{
    padding-left: 5px;
    padding-right: 5px;
}

.gallery .gallery-images{
    font-size: 0;
    display: flex;
}

.gallery .gallery-images .image{
    width: 33.33%;
    height: 250px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.gallery .gallery-images .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s all;
}

.gallery .gallery-images .image:hover img{
    transform: scale(1.045)
}

/* INNER PAGE */

.inner-page {
    /* background-color: #fefefe; */
    background-color: #f2f2f2;
}

.inner-page .content {
    margin-top: 90px;
    min-height: calc(103vh - (90px + 260px));
}

.inner-page .content .container,
.inner-page .content .container-fluid {
    padding: 15px;
}

@media (max-width: 768px) {
    .inner-page .content {
        margin-top: 65px;
        min-height: calc(110vh - (90px + 260px));
    }
}

/* 404 */



/* TECHNIC SERVICE PAGE */

.technic-service-page .contact-card {
    /* background: #fcfcfc; */
    background: white;
    border: 1px solid #a5a5a5;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

@media (max-width: 768px) {
    .technic-service-page .contact-card {
        width: 100%;
    }
}

/* CONTACT PAGE */

.contact-page .contact-container{
    background: #fcfcfc;
    max-width: 800px;
    width: 100%;
    margin: auto;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    padding: 0 25px;
}

.contact-page .contact-container .contact-addresses{
    height: 300px;
    padding: 25px 0;
}

.contact-page .contact-container .contact-addresses .left-part{
    padding-bottom: 10px;
}

.contact-page .contact-container .contact-addresses .left-part p{
    margin-bottom: 5px;
    font-weight: 600;
}

.contact-page .contact-container .contact-addresses .left-part p a{
    color: #333;
    font-weight: 400;
}

.contact-page .contact-container .contact-addresses .right-part{
    
}

.contact-page .contact-container .contact-addresses .right-part iframe{
    width: 100%;
    height: 100%;
}

.contact-page .contact-container .send-message{
    padding: 25px 0;
}

.contact-page .contact-container .send-message h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .contact-page .contact-container .contact-addresses{
        height: initial;
        padding-bottom: 0;
    }
}

/* STORE PAGE */

.store-page{
    background: #fefefe;
}

.store-page .store-row{
    display: flex;
    flex-wrap: wrap;
}

/* products criterias */

.store-page .products-criterias{
    width: 17.5%;
    padding: 5px 2.5px;
}

.store-page .products-criteria{
    max-height: 200px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 10px;
}

.store-page .products-criteria-title{
    font-weight: 600;
    padding: 0 10px;
}

.store-page .products-criteria-title label{
    margin-bottom: 0;
}

.store-page .products-criteria-option{
    cursor: pointer;
}

.store-page .products-criteria-option:hover{
    background-color: #f5f5f5;
}

/* checkbox */
/* drone-series */

.store-page .products-criteria.checkbox .products-criteria-option label{
    position: relative;
    margin-bottom: 0;
    line-height: 1;
    display: block;
    padding: 10px;
    padding-left: 32.5px;
    font-size: 14px;
    cursor: pointer;
}

.store-page .products-criteria.checkbox label::selection{
    background-color: transparent;
}

.store-page .products-criteria.checkbox label input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.store-page .products-criteria.checkbox label .checkmark{
    position: absolute;
    top: 9px;
    left: 10px;
    height: 17.5px;
    width: 17.5px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    transition: 0.2s all;
}

.store-page .products-criteria.checkbox label input:checked ~ .checkmark{
    background-color: rgb(0, 172, 184);
    border-color: rgb(0, 172, 184);
}


.store-page .products-criteria.checkbox label input:checked ~ .checkmark::after{
    content: "";
    position: absolute;
    left: 4.5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* product price */

.store-page .products-criteria.product-price .products-criteria-option{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.store-page .products-criteria.product-price input{
    width: 45%;
    font-size: 14px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

.store-page .products-criteria.product-price input::-webkit-outer-spin-button,
.store-page .products-criteria.product-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px){
    .store-page .products-criterias{
        display: none;
    }

}

/* products column */

.store-page .products-column{
    width: 82.5%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.store-page .product-cover{
    display: inline-block;
    padding: 5px 3px;
    display: flex;
}

.store-page .product-cover .product{
    /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5); */
    border: 1px solid #e5e5e5;
    border-radius: 7.5px;
    overflow: hidden;
    transition: 0.2s all;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.store-page .product-cover .product:hover{
    /*box-shadow: 0 2.5px 5px -2.5px rgba(0, 0, 0, 0.25);*/
    border: 1px solid #d5d5d5;
}

.store-page .product .product-image{
    
}

.store-page .product .product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.store-page .product .product-title{
    padding: 5px 10px;
}

.store-page .product .product-title h3{
    font-size: 20px;
    margin: 0;
    color: #333;
}

.store-page .product .product-price{
    padding: 5px 10px;
}

.store-page .product .product-price .product-old-price{
    margin: 0;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 400;
    color: #a5a5a5;
    line-height: 1;
}

.store-page .product .product-price .product-current-price{
    margin: 0;
    font-weight: 600;
    color: rgb(0, 172, 184);
    line-height: 1.25;
}

.store-page .product .product-price .product-current-price .price{
    font-size: 18px;
}

.store-page .product .product-price .product-current-price .sign{
    font-size: 17px;
}

@media(min-width: 1201px){
    .store-page .product-cover.desktop-4{
        width: 25%;
    }
    
    .store-page .product-cover.desktop-3{
        width: 33.33%;
    }
    
    .store-page .product-cover.desktop-2{
        width: 50%;
    }
}

@media(max-width: 1200px){
    .store-page .product-cover.notebook-4{
        width: 25%;
    }

    .store-page .product-cover.notebook-3{
        width: 33.33%;
    }

    .store-page .product-cover.notebook-2{
        width: 50%;
    }

    .store-page .product-cover.notebook-1{
        width: 100%;
    }
}

@media(max-width: 991px){
    .store-page .product-cover.tablet-3{
        width: 33.33%;
    }

    .store-page .product-cover.tablet-2{
        width: 50%;
    }

    .store-page .product-cover.tablet-1{
        width: 100%;
    }
}

@media(max-width: 768px){
    .store-page .product-cover.mobile-2{
        width: 50%;
    }

    .store-page .product-cover.mobile-1{
        width: 100%;
    }

    .store-page .products-column{
        width: 100%;
    }
}

/* PRODUCT PAGE */

.product-page{
    background: #fefefe;
}

.product-page .product-main-card{
    width: 100%;
    display: flex;
    border: 1px solid #d5d5d5;
    border-radius: 7.5px;
    overflow: hidden;
}

/* product-image-part */

.product-page .product-image-part{
    width: 50%;
    height: 550px;
    position: relative;
}

.product-page .product-image-part .current-image{
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
}

.product-page .product-image-part .current-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-page .product-image-part .all-images{
    width: 100%;
    padding: 2.5px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e5e5e5;
}

.product-page .product-image-part .all-images .image{
    width: 75px;
    height: 75px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.2s all;
    margin: 0 1px;
}

.product-page .product-image-part .all-images .image:not(.active){
    cursor: pointer;
}

.product-page .product-image-part .all-images .image.active{
    border: 1px solid rgb(0, 172, 184);
}

.product-page .product-image-part .all-images .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-page .product-image-part #bigger-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.product-page .product-image-part #bigger-image a:first-child{
    width: 100%;
    height: 100%;
    display: block;
    cursor: zoom-in;
}

/* product-details-part */

.product-page .product-details-part{
    width: 50%;
    height: 550px;
    background-color: #f8f8f8;
    padding: 10px;
}

.product-page .product-details-part .product-name{
    margin-bottom: 30px;
}

.product-page .product-details-part .product-name h1{
    font-size: 24px;
    margin-bottom: 0;
}

.product-page .product-details-part .product-price{
    margin-bottom: 30px;
}

.product-page .product-details-part .product-old-price p{
    font-weight: 600;
    color: #a5a5a5;
    margin: 0;
    text-decoration: line-through;
    line-height: 1;
}

.product-page .product-details-part .product-old-price p .price{
    font-size: 18px;
}

.product-page .product-details-part .product-old-price p .sign{
    font-size: 17px;
}

.product-page .product-details-part .product-current-price p{
    font-weight: 600;
    color: rgb(0, 172, 184);
    margin: 0;
    line-height: 1;
}

.product-page .product-details-part .product-current-price p .price{
    font-size: 26px;
}

.product-page .product-details-part .product-current-price p .sign{
    font-size: 24px;
}

.product-page .product-details-part .product-buttons{
    display: flex;
}

.product-page .product-details-part .product-buttons button{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: 0.2s all;
    outline: none;
}

.product-page .product-details-part .product-buttons button:hover{
    background-color: rgb(0,90,100);
    border: 1px solid rgb(0,90,100);
}

.product-page .product-details-part .product-buttons .add-likes-button{
    margin-right: 5px;
}

.product-page .product-details-part .product-buttons .add-likes-button button{
    background-color: transparent;
    border: 1px solid rgb(0, 172, 184);
}

.product-page .product-details-part .product-buttons .add-likes-button button i{
    color: rgb(0, 172, 184);
}

.product-page .product-details-part .product-buttons .add-likes-button button i.lined{
    display: contents;
}

.product-page .product-details-part .product-buttons .add-likes-button button i.filled{
    display: none;
}

.product-page .product-details-part .product-buttons .add-likes-button button:hover i.lined{
    display: none;
}

.product-page .product-details-part .product-buttons .add-likes-button button:hover i.filled{
    display: contents;
}

.product-page .product-details-part .product-buttons .add-cart-button{
    margin-right: 5px;
}

.product-page .product-details-part .product-buttons .add-cart-button button{
    background-color: rgb(0, 172, 184);
    border: 1px solid rgb(0, 172, 184);
}

.product-page .product-details-part .product-buttons .buy-directly-button{
    margin-right: 5px;
}

.product-page .product-details-part .product-buttons .buy-directly-button button{
    background-color: rgb(0, 135, 145);
    border: 1px solid rgb(0, 135, 145);
}

/* BLOG PAGE */

.blog-page{
    background: #fefefe;
}

.blog-page .blogs{
    display: flex;
    flex-wrap: wrap;
}

.blog-page .blogs .blog-resizer{
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.blog-page .blogs .blog{
    background: #ffffff;
    height: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s all;
}

.blog-page .blogs .blog:hover{
    box-shadow: 0 2.5px 10px -7px rgba(0,0,0,0.5);
}

.blog-page .blogs .blog a{
    display: block;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.blog-page .blogs .blog a:hover,
.blog-page .blogs .blog a:hover{
    text-decoration: none;
}

.blog-page .blogs .blog .blog-image{
    width: 100%;
    height: 200px;
}

.blog-page .blogs .blog .blog-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-page .blogs .blog .blog-texts{
    padding: 10px;
    width: 100%;
}

.blog-page .blogs .blog .blog-texts .blog-title{
    display: block;
    margin: 0;
    font-size: 20px;
    color: #111;
}

.blog-page .blogs .blog .blog-texts .blog-text{
    display: block;
    margin: 0;
    font-size: 14px;
    color: #555;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media(max-width: 768px) {
    .blog-page .blogs .blog-resizer.mobile-type-2 .blog-image{
        width: 35%;
        height: 100%;
    }
    
    .blog-page .blogs .blog-resizer.mobile-type-2 .blog-texts{
        width: 65%;
    }
}

/* BLOG POST PAGE */

.blog-post-page{
    background: #fefefe;
}

.blog-post-page .blog-post{

}

.blog-post-page .blog-post h1{
    font-size: 34px;
    color: #111;
}

.blog-post-page .blog-post h2{
    font-size: 30px;
    color: #111;
}

.blog-post-page .blog-post h3{
    font-size: 26px;
    color: #111;
}

.blog-post-page .blog-post h4{
    font-size: 22px;
    color: #111;
}

.blog-post-page .blog-post h5{
    font-size: 18px;
    color: #111;
}

.blog-post-page .blog-post h6{
    font-size: 16px;
    color: #111;
}

.blog-post-page .blog-post p{
    font-size: 15px;
    color: #444;
}

.blog-post-page .blog-info-parter{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.blog-post-page .blog-posted-date{
    display: inline-block;
    width: 50%;
    padding: 15px 0;
    font-size: 14px;
}

.blog-post-page .blog-posted-date p{
    font-size: 13px;
    margin: 0;
    color: #666;
}

.blog-post-page .blog-author{
    display: inline-block;
    width: 50%;
    padding: 15px 0;
    font-size: 13px;
    text-align: right;
}

.blog-post-page .blog-author p{
    margin: 0;
    color: #666;
}

.blog-post-page .blog-change-buttons{
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.blog-post-page .blog-change-buttons .move-button a{
    display: flex;
}

.blog-post-page .blog-change-buttons .move-button a:hover{
    text-decoration: none;
}

.blog-post-page .blog-change-buttons .move-button a:hover .blog-name{
    text-decoration: underline;
}

.blog-post-page .blog-change-buttons .move-button.left{
    float: left;
}

.blog-post-page .blog-change-buttons .move-button.left .button-texts{
    text-align: left;
}

.blog-post-page .blog-change-buttons .move-button.right{
    float: right;
}

.blog-post-page .blog-change-buttons .move-button.right .button-texts{
    text-align: right;
}

.blog-post-page .blog-change-buttons .move-button i{
    line-height: 3;
    color: #111;
}

.blog-post-page .blog-change-buttons .move-button .button-texts{
    padding: 0 15px;
}

.blog-post-page .blog-change-buttons .move-button .button-texts .move-text{
    margin: 0;
    font-size: 12px;
    color: #666;
}

.blog-post-page .blog-change-buttons .move-button .button-texts .blog-name{
    margin: 0;
    font-size: 16px;
    color: rgb(0, 172, 184);
    font-weight: 600;
}

@media(max-width:768px){
    .blog-post-page .blog-posted-date,
    .blog-post-page .blog-author{
        width: 100%;
    }

    .blog-post-page .blog-posted-date{
        border-bottom: 1px solid #e5e5e5;
    }

    .blog-post-page .blog-author{
        text-align: left;
    }

    .blog-post-page .blog-change-buttons .move-button{
        width: 50%;
    }

    .blog-post-page .blog-change-buttons .move-button .button-texts .blog-name{
        font-size: 14px;
    }
}









