/* COLORS */
/* rgb(0, 135, 145) */
/* rgb(0,90,100) */

/* ADMIN TEMPLATE */
@media (min-width: 992px) {
    .content {
        padding: 25px;
    }
}

.card-header{
    padding: 25px;
}

.card.card-custom > .card-body {
    padding: 25px;
}

body{
    background: rgb(0,135,145);
}

/* ALL ITEMS GENERAL STYLE */
input{
    outline: none;
}

/* navbar mobile menu collapser */

@media(max-width:991px){
    .burger-icon:hover span, .burger-icon-active span{
        background-color:#fff
    }
    
    .burger-icon:hover span::before, .burger-icon:hover span::after, .burger-icon-active span::before, .burger-icon-active span::after{
        background-color:#fff
    }
}

/* navbar mobile menu elements */

@media(max-width:991px){
    .header-menu-mobile .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-text, .header-menu-mobile .menu-nav > .menu-item.menu-item-open > .menu-link .menu-text{
        color: rgb(0,135,145);
    }

    .header-menu-mobile .menu-nav > .menu-item > .menu-heading .menu-text, .header-menu-mobile .menu-nav > .menu-item > .menu-link .menu-text{
        color: rgb(0,135,145);
    }

    .header-menu-mobile .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text, .header-menu-mobile .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text{
        color: rgb(0,90,100)
    }

    .header-menu-mobile .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-text, .header-menu-mobile .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-text{
        color: rgb(0,135,145);
    }

    .header-menu-mobile .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text, .header-menu-mobile .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text{
        color: rgb(0,90,100)
    }

}

/* datatable scroll */

.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before{
    color: rgb(0,135,145);
}

.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before{
    color: rgb(0,135,145)!important;
}

/* datatable sort */

.dataTables_wrapper .dataTable th.sorting_asc:before, .dataTables_wrapper .dataTable td.sorting_asc:before{
    color: rgb(0,135,145)!important;
}

.btn.btn-primary{
    background-color: rgb(0,135,145);
    border-color: rgb(0,135,145);
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled{
    background-color: rgb(158, 222, 227);
    border-color: rgb(158, 222, 227);
    cursor: default;
}

.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text) {
    background-color: rgb(0,90,100);
    border-color: rgb(0,90,100);
}

.btn.btn-light-primary{
    color: rgb(0, 135, 145);
    background-color: #e5e5e5;
    border-color: transparent;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-light-primary:focus:not(.btn-text), .btn.btn-light-primary.focus:not(.btn-text){
    color: #FFFFFF;
    background-color: rgb(0, 135, 145);
    border-color: transparent;
}

.btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg g [fill], .btn.btn-clean:not(:disabled):not(.disabled).active .svg-icon svg g [fill], .show > .btn.btn-clean.dropdown-toggle .svg-icon svg g [fill], .show .btn.btn-clean.btn-dropdown .svg-icon svg g [fill]{
    fill: #fff;
}

.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg g [fill], .btn.btn-clean:focus:not(.btn-text) .svg-icon svg g [fill], .btn.btn-clean.focus:not(.btn-text) .svg-icon svg g [fill]{
    fill: #fff;
}

.header-fixed[data-header-scroll=on] .header {
    background: linear-gradient(180deg, rgba(0,135,145,1) 0%, rgba(0,90,100,1) 100%);
}

.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text, .header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text{
    color: rgb(0, 135, 145);
}

.navi .navi-item .navi-link:hover .navi-icon i{
    color: rgb(0, 135, 145);
}

.navi .navi-item .navi-link:hover .navi-text{
    color: rgb(0, 135, 145);
}

a{
    color: rgb(0, 135, 145);
}

a:hover{
    color: rgb(0,90,100);
}

a.text-hover-primary:hover, .text-hover-primary:hover{
    color: #d8d8d8!important;
}

input.good-form{
    border-color: rgb(0, 200, 0)!important;
    background-color: rgb(245, 255, 245 )!important;
}

input.bad-form{
    border-color: rgb(232, 0, 0)!important;
    background-color: rgb(255 245 245)!important;
}

.form-group .error-message{
    text-align: left;
    margin: 5px 0;
    color: rgb(232, 0, 0)!important;
}

.form-control:focus{
    border-color: rgb(0, 135, 145);
}

.checkbox > input:checked ~ span{
    background-color: rgb(0, 135, 145);
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link{
    background-color: rgb(0, 135, 145);
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active:hover > .page-link{
    background-color: rgb(0, 90, 100);
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item:hover:not(.disabled) > .page-link{
    background-color: rgb(0, 135, 145);
}

.dataTables_wrapper .dataTable th.sorting_asc, .dataTables_wrapper .dataTable td.sorting_asc{
    color: rgb(0, 135, 145)!important;
}

/* NAVBAR */

.symbol > img{
    border-radius: 100%;
}

/* LOGIN PAGE */

.admin-login-page {
    background: url('../../../assets/img/background/login.jpg')
}

.admin-login-page .login-signin{
    display: none!important;
}

.admin-login-page .login-signin.show{
    display: block!important;
}

.admin-login-page .login-signup{
    display: none!important;
}

.admin-login-page .login-signup.show{
    display: block!important;
}

.admin-login-page .login-forgot{
    display: none!important;
}

.admin-login-page .login-forgot.show{
    display: block!important;
}

/* BLOG PAGE */

.blog-page .card-custom{
    margin-bottom: 15px;
}

.blog-page label.forRadio{
    margin-right: 10px;
}

.blog-page label.forRadio::selection{
    background-color: transparent;
}

.blog-page table td{
    font-size: 12px!important;
}

.blog-page table td.blog-id{
    width: 2.5%;
}

.blog-page table td.blog-image{
    width: 2.5%;
}

.blog-page table td.blog-image img{
    width: 75px!important;
    height: 60px!important;
    object-fit: cover;
}

.dataTables_wrapper .child .dtr-details > li .dtr-data img{
    width: 50px!important;
    height: 40px!important;
    object-fit: cover;
}

.blog-page table td.blog-title{
    width: 20%
}

.blog-page table td.blog-title a{
    color: #777;
    font-weight: 600;
}

.blog-page table td.blog-title a:hover{
    text-decoration: underline!important;
}

.blog-page table td.blog-status{
    width: 2.5%;
    text-align: center;
}

.blog-page table .blog-status-edit,
.blog-page table .blog-general-status-edit{
    outline: none;
}

.blog-page table td.blog-action{
    width: 2.5%;
    font-size: 0!important;
    white-space: nowrap;
    text-align: center;
}

.blog-page table .blog-edit,
.blog-page table .blog-remove{
    display: inline-block;
    padding: 3px;
    margin: 1px;
    cursor: pointer;
}

.blog-page table .blog-edit i,
.blog-page table .blog-remove i{
    font-size: 14px;
}

.blog-page table .blog-edit:hover i{
    color: #ffae00;
}

.blog-page table .blog-remove:hover i{
    color: #e85050;
}

@media(max-width:768px){
    .dataTables_length{
        text-align: left!important;
    }
    .dataTables_filter{
        text-align: left!important;
    }
}

/* TECHNIC SERVICE PAGE */

.technic-service-page .card-custom{
    margin-bottom: 15px;
}

.technic-service-page table td.drone-action{
    width: 2.5%;
    font-size: 0!important;
    white-space: nowrap;
    text-align: center;
}

.technic-service-page table .drone-edit,
.technic-service-page table .drone-remove{
    display: inline-block;
    padding: 3px;
    margin: 1px;
    cursor: pointer;
}

.technic-service-page table .drone-edit i,
.technic-service-page table .drone-remove i{
    font-size: 14px;
}

.technic-service-page table .drone-edit:hover i{
    color: #ffae00;
}

.technic-service-page table .drone-remove:hover i{
    color: #e85050;
}

/* DOCUMENTS PAGE */

.documents-images-page .documents{
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
}

.documents-images-page .documents .top-bar{
    width: 100%;
    display: flex;
}

.documents-images-page .documents .directory,
.documents-images-page .documents .control{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 5px;
    margin-bottom: 5px;
}

.documents-images-page .documents .directory .directoryButtons,
.documents-images-page .documents .control .controlButtons{
    width: 30px;
    min-width: min-content;
    font-size: 15px;
    height: 30px;
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 0;
}

.documents-images-page .documents .directory .directoryButtons:first-child,
.documents-images-page .documents .control .controlButtons:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.documents-images-page .documents .directory .directoryButtons:last-child,
.documents-images-page .documents .control .controlButtons:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #e5e5e5;

}

.documents-images-page .documents .directory .directoryButtons:hover,
.documents-images-page .documents .control .controlButtons:hover{
    background-color: #f1f1f1;
}

.documents-images-page .documents .directory .directoryButtons i,
.documents-images-page .documents .control .controlButtons i{
    color: #888;
    font-size: 14px;
}

.documents-images-page .documents .document-cover{
    width: 90px;
    padding: 2.5px
}


.documents-images-page .documents .document{
    width: 100%;
    height: 100%;
    padding: 5px 0;
}

.documents-images-page .documents .document.selected{
    background-color: rgba(150, 225, 255, 0.5)
}

.documents-images-page .documents .document.image.selected .document-image{
    border: 1px solid #fff;
}

.documents-images-page .documents .document .document-image{
    text-align: center;
    width: 80px;
    height: 80px;
    margin: auto;
}

.documents-images-page .documents .document.image .document-image{
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.documents-images-page .documents .document .document-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.documents-images-page .documents .document .document-image img::selection{
    background-color: transparent;
}

.documents-images-page .documents .document .document-name{
    text-align: center;
}

.documents-images-page .documents .document .document-name p{
    font-size: 12px;
    margin: 0;
}

.documents-images-page .documents .document-popup{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.documents-images-page .documents .document-popup.show{
    display: block;
}

.documents-images-page .documents .document-popup-back{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}

.documents-images-page .documents .document-popup-card{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 80%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    overflow-y: auto;
}

.documents-images-page .documents .document-popup .document-popup-closer{
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 40px;
    text-align: center;
}

.documents-images-page .documents .document-popup .document-popup-image{
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #e5e5e5;
}

.documents-images-page .documents .document-popup .document-popup-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.documents-images-page .documents .document-popup .document-popup-details{
    padding: 10px;
    width: 100%;
}

.documents-images-page .documents .document-popup .document-popup-detail{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.documents-images-page .documents .document-popup .document-popup-detail label{
    font-size: 12px;
    margin: 0;
}

.documents-images-page .documents .document-popup .document-popup-detail input{
    font-size: 12px;
    width: 100%;
}

@media(max-width:768px){
    .documents-images-page .documents .document-popup-card{
        width: 95%;
        height: 80%;
    }
}

