    <script>
        if (window.location.host !== 'localhost:5001') {
            if (location.protocol !== 'https:') {
                location.replace(`https:${location.href.substring(location.protocol.length)}`);
            }
        }
    </script>
    
    <!--TITLE-->
    <title><%- title %></title>

    <!--HTML-->
    <meta charset="utf-8" />

    <!--RESPONSIVE-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

    <!--FAVICON-->
    <link rel="shortcut icon" href="/assets/img/logo/favicon.svg" />

    <!--FONTAWESOME ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!--GOOGLE FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

    <!--ADMIN PANEL (GENERAL) STYLE-->
    <link href="/assets/admin/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/css/pages/login/classic/login-4.css" rel="stylesheet" type="text/css" />

    <!--ADMIN PANEL (DATATABLE) STYLE-->
    <link href="/assets/admin/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <!--MY STYLE-->
    <link href="/assets/admin/css/mystyle.css?v=1.5" rel="stylesheet" type="text/css" />